<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="/" style="margin-left: 24px;"><img src="/img/nodejs.webp" alt="logo"></a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">

        {{#if home}}
         <li class="nav-item navlink_ul_li">
        <a class="nav-link" href="/">home</a>
      </li>
        {{else}}
         <li class="nav-item">
        <a class="nav-link" href="/">home</a>
      </li>
        {{/if}}
     
      <li class="nav-item">
        <a class="nav-link" href="coments">Coments</a>
      </li>
      {{#if isAuth}}
       {{#if adminlog}}
        <li class="nav-item navlink_ul_li">
        <a class="nav-link" href="/superadmin">admin</a>
      </li>
      {{else}}
       <li class="nav-item">
        <a class="nav-link" href="/superadmin">admin</a>
      </li>
      {{/if}}
       <li class="nav-item" >
        <a class="nav-link" href="/logaut">logaut</a>
      </li>

      {{else}}
       {{#if navlog}}
         <li class="nav-item navlink_ul_li" >
        <a class="nav-link" href="login">login</a>
      </li>
      {{else}}
       <li class="nav-item" >
        <a class="nav-link" href="login">login</a>
      </li>
     {{/if}}
      {{/if}}
     
       
    </ul>
  </div>
</nav>
{{!-- 
{{#if}}
{{else}}
{{/if}} --}}